* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'open_sanslight';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
header{
	padding: 0 2%;
}
header div.left{
	float: left;
	width: 200px;
	margin-right: 8%;
	padding: 2% 0;
}
header div.logo{
	

}
header div.left img{
	width: 100%;
	display: block;
	
}
header  ul.right{
	float: right;
	width: 75%;
	padding: 4% 0 0;
}
header ul.right li{
	float: right;
	margin-right: 3%;
	font-size: 24px;
	padding: 5% 0;
}
header ul.right li a.last{
	display: inline-block;
	padding: 2px 14px;
	background: #8ce4f2;
	color: #000;
	border-radius: 10px;
	margin-right: 0;
}
header ul.right li a{
	float: right;
	font-weight: bold;
}
header ul.right li:first-child{
	margin-right: 0;
	padding: 4.5% 0 5%;
}
div.slider.owl-carousel{
	width: 100%;
	height: 472.72px;
	overflow: hidden;
}
div.slider img{
	width: 100%;
	display: block;
}
#search{
	padding: 65px;
}
#search div.top{
	background: #E0E2E5;
	border-radius: 8px;
	padding: 25px 30px;
	border: 1px solid #C8CACD;
}
#search div.top div.container{
	float: left;
	margin-right: 2.6%;
	background: #fff;
	border: 1px solid #C8CACD;
	border-radius: 5px;
	padding: 4px;
	width: 42%;
}
#search div.top div.container span{
	width: 25px;
	height: 20px;
	display: inline-block;
}
#search div.top div.container span.search{
	width: 20px;
}
#search div.top div.container span img{
	width: 100%;
	display: block;
}
#search div.top div.container input{
	padding: 10px 25px 10px 0;
	
	font-size: 15px;
}
#search div.top div.container.special{
	background: none;
	border: none;
	width: 121.8px;
	margin-right: 0;
	padding: 0;
}
#search div.top div.container.special a{
	padding: 13px 25px;
	color: #fff;
	background: #2B78EC;
	font-weight: bold;
	border-radius: 5px;
	display: inline-block;
	width: 100%;
}
#search div.middle{
	padding:  94px 0 50px;
}
#search div.middle ul{
	float: left;
}
#search div.middle ul li{
	float: left;
	width: 25%;
	margin-bottom: 3%;
}
#search div.middle ul li:nth-child(5) a{
	width: 21.75%;
}
#search div.middle ul li:nth-child(5){
	margin-bottom: 0;
}
#search div.middle ul li:nth-child(6) {
	margin-bottom: 0;
}
#search div.middle ul li:nth-child(2) a{
	width: 40%;
}
#search div.middle ul li:nth-child(3) a{
	width: 41%;
}
#search div.middle ul li:nth-child(7) a{
	width: 28%;
}
#search div.middle ul li:nth-child(7){
	margin-bottom: 0;
}
#search div.middle ul li:nth-child(4) a{
	width: 28%;
}
#search div.middle ul li:nth-child(8) a{
	width: 27%;
}
#search div.middle ul li:nth-child(8){
	margin-bottom: 0;
}
#search div.middle ul li a{
	display: block;
	width: 30%;
	margin: auto;
}
#search div.middle ul li a img{
	display: block;
	width: 100%;
}
#search div.middle ul li p{
	text-align: center;
	font-size: 20px;
}
#search div.bottom{
	padding: 44px;
}
#search div.bottom div.head{
	margin-bottom: 2%;
	padding-left: 4%;
}
#search div.bottom div.head h2{
	font-weight: bold;
	font-size: 30px;
}
#search div.bottom ul{
	float: left;
	width: 100%;
	background: #f2f2f2;
}
#search div.bottom ul li{
	float: left;
	width: 33.33%;
}
#search div.bottom ul li div.image{
	background: #fff;
	margin: 0 auto 2%;
	width: 86.2%;
}
#search div.bottom ul li div.image a{
	display: block;
}
#search div.bottom ul li div.image a img{
	width: 100%;
	display: block;
	max-width:320px;
    max-height:250px;
    width: 320px;
    height: 250px;
    border:1px solid #000;
}
#search div.bottom ul li div.image p{
	color: #999999;
	padding-left: 6%;
}
#search div.bottom ul li div.image p.lead{
	margin-top: 2%;
}
#search div.bottom ul li div.image p.ends{
	padding-bottom: 10%;
}
#search div.bottom ul li div.image div.container{
	margin: 2% 0;
	padding-left: 6%;
	font-size: 20px;
}
#search div.bottom ul li div.image div.container h3{
	color: #737373;
	font-weight: bold;
}
#search div.bottom ul li div.image div.container h4{
	color: #737373;
	font-weight: bold;
}
#search div.bottom ul li div.image div.container h4 b{
	color: #00cc99;
	font-weight: bold;
	font-weight: 20px;
	margin-left: 1%;
	font-size: 15px;
}
#search div.bottom ul li div.text{
	background: #fff;
	width: 86.2%;
	margin: auto;
	display: flex;
	align-items: center;
	padding: 2% 0 1% 2%;
}
#search div.bottom ul li div.text span{
	display: inline-block;
	height: 30px;
	width: 30px;
}
#search div.bottom ul li div.text span img{
	width: 100%;
	display: block;
}
#search div.bottom ul li div.text b{
	font-weight: bold;
	color: #737373;
}
div.wholecover{
	background: url(../images/cacar.jpeg) no-repeat;
	background-size: cover;
	padding: 15%;
}
footer{

}
footer section.top{
 padding: 65px 65px 0;
}
footer section.top div.footfirst div.head,footer section.top div.footmiddle div.head,footer section.top div.footlast div.head{
	margin-bottom: 13%;
}
footer section.top div.head h3{
	font-weight: bold;
	color: #1a1a1a;
}
footer section.top div.footfirst,footer section.top div.footmiddle,footer section.top div.footlast{
	float: left;
	width: 20%;
}
footer section.top div.footfirst{

}
footer section.top div.footfirst {
	margin-right: 6%;
}
footer section.top div.footfirst  ul{
	
}
footer section.top div.footfirst  ul li{
	margin-bottom: 8%;
}
footer section.top div.footfirst  ul li a{
	color: #999999;
}
footer section.top div.footmiddle{
	margin-right: 6%;
}
footer section.top div.footmiddle div.on{
	color: #999999;
	margin-bottom: 12%;
}
footer section.top div.footmiddle div.off{
	color: #999999;
}
footer section.top div.footlast{

}
footer section.top div.footlast div.fone,footer section.top div.footlast div.email,footer section.top div.footlast div.office{
	margin-bottom: 4%;
	display: flex;
	align-items: center;
}
footer section.top div.footlast div span img{
	display: block;
	width: 100%;
}
footer section.top div.footlast div.fone{
	
}
footer section.top div.footlast div span{
	display: inline-block;
	height: 23px;
	width: 20px;
}
footer section.top div.footlast div.email span{
	display: inline-block;
	height: 20px;
	width: 23px;
}
footer section.top div.footlast b{
	color:  #666666;
	font-weight: bold;
	margin-left: 4px;
}
footer section.top div.footlast b a{
	color: #999999;
}
footer section.top div.footlast div.email{

}
footer section.top div.footlast div.office{

}
footer section.top div.footlast div.iconlist{
	margin-top: 9%;
}
footer section.top div.footlast div.iconlist a{
	display: inline-block;
	width: 50px;
	height: 50px;
}
footer section.top div.footlast div.iconlist a img{
	display: block;
	width: 100%;
	border-radius: 10px;
}
footer section.top div.footlast div.payment{

}
footer section.top div.footlast div.payment div.head{
	margin: 15% 0 3%;
}
footer section.top div.footlast div.payment div.head h3{
	color: #1a1a1a;
	font-weight: bold;
}
footer section.top div.footlast div.payment div.payicons{

}
footer section.top div.footlast div.payment div.payicons a{
	display:inline-block;
	height: 50px;
	width: 50px;
}
footer section.top div.footlast div.payment div.payicons a.spcl img{
	height: 50px;
}
footer section.top div.footlast div.payment div.payicons a img{
	display: block;
	width: 100%;
	border-radius: 10px;
}
footer section.bottom{
	padding: 20px 0;
	background: #43434f;
	text-align: center;
}
footer section.bottom p{
	color: #fff;
	font-size: 18px;
}